/* Body layout ----------------------------------------------------------------------------- */
body {
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #000 url(../images/elements/BgSkin_final.jpg) top center no-repeat;
	cursor: default;
}

/* Global ----------------------------------------------------------------------------- */

div {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}
a {cursor: pointer;}
/* Header items ----------------------------------------------------------------------------- */

#starzNav {
	width: 960px;
	height: 75px;
	margin: 0 auto 15px;
	padding: 25px 0px 0px;
	position: relative;
	z-index: 1000;
}
#starz_logo {
	display: block;
	height: 53px;
	width: 159px;
	background: transparent url(../images/logos/logo_starz_o.png) no-repeat left top;
	text-indent: -9999px;
	overflow: hidden;
	position: relative;
	float: left;
	cursor: pointer;
	margin-top: 16px;

}
.starzNavUL {
	list-style: none;
	position: relative;
	float:right;
	padding:0;
	margin: 25px 0 0;
	z-index: 15;
}

.starzNavUL > li {
	display: block;
	float: left;
	padding-right: 25px;
	position: relative;
	padding-top: 26px;
}

.starzNavUL > li.lastItem {
	padding-right: 0px;
	padding-top: 0px;
}

.starzNavUL > li > a, .menudd {
	text-decoration: none;
	font-size: 14px;
	color: #FFF;
	font-weight: bold;
}

.menudd{
	display:block;
	height:40px;
	cursor: pointer;
	line-height: 20px;
}

.dropdown{
	margin:0;
	padding:0;
	position: absolute;
	z-index: 1000;
	top:39px;
	left:-25px;
	width:150px;
	display: none;
}

.dropdown li a{
	display: block;
	height:35px;
	background: #224d5e;
	width:150px;
	text-align: center;
	line-height: 32px;
}

.menudd:hover .dropdown{
	display:block;
}

.dropdown li{
	list-style: none;
	margin: 0;
	padding:0;
	width:150px;
	border-top:1px solid black;
}

.dropdown li a{
	color:white;
	font-weight: 300;
}

.dropdown li:first-child{
	border:none;
}


.starzNavUL li > a:hover {
	color: #BD5A03;
}
.pageOn {
	color: #BD5A03 !important;
}

.encoreLink:hover {
	color: #FEC52F !important;
}

#socialIcons {
	width: 500px;
	height: 22px;
	margin: 0 auto 12px auto;
}

#programmingBar {
	display: block;
	height: 40px;
	background-color: #000;
	margin: 0px auto;
}
#programmingBar h3{
	text-align: center;
	line-height: 38px;
	color:#FFF;
	font-weight: 400;
}
#programmingBar sup {
	line-height: 1.5;
}
#programmingBar a,
#programmingBar a:visited {
	font-weight: bold;
	color: #FFF;
	text-decoration: underline;
}
#programmingBar a:hover,
#programmingBar a:active {
	color: #BD5A03;
}
a#askStarzNav {
	display: inline-block;
	height: 17px;
	overflow:hidden;
	padding-left: 26px;
	background: transparent url(../images/elements/emailIcon.png) 0px 1px no-repeat;	
}
a#askStarzNav:hover {
	background-position-y: -16px;
}

/* Top image gallery and video player ----------------------------------------------------------------------------- */

#homemarquee {
	width: 960px;
	height: 435px;
	overflow: hidden;
	margin: 0px auto 0 auto;
}

#imageBrowserNav {
	height: 30px;
	z-index: 200;
	width:300px;
}

#imageBrowser {
	width:960px;
	height:340px;
	display:none;
	margin: 0px auto;
}

#imageButtons {
	padding-top: 10px;
}

.imageBrowserContent {
	position: absolute;
	
}
.marqueeOverlay {
	display: block;
	width: 94%;
	height: 80px;
	min-height: 50px;
	margin: -80px auto 0;
	padding: 15px 3% 0;
	z-index: 100;
	background:transparent url(../images/elements/marqueeOverlay_bg.png) repeat left top;
}

/* EXTRA MESSAGE */

.marqueeOverlay div.extra{
	font-style: italic;
	color:#44271a;
	height:80px;
	padding:12px 20px 20px 20px;
	width:450px;
	margin-right:150px;
	float:right;
	display:inline-block;
}

.marqueeOverlay.noOverlay {
	background-image: none;
}
.marqueeOverlay h2{
	margin: 3px;
	padding: 0;
	font-size: 27px;
	font-weight: 300;
	color: #000;
}
.marqueeOverlay a,
.marqueeOverlay a:hover,
.marqueeOverlay a:visited {
	color: #0D0D0D;
	display: block;
	font-weight: bold;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
.marqueeOverlay p {
	margin: 0px;
	font-size: 14px;
	color: #0D0D0D;
}
.marqueeOverlay a:hover,
.marqueeOverlay a:active {
	text-decoration: underline;
}
a.videoLinkNew img,
a.videoLinkNew img:visited {
	margin-right: 25px;
	border:1px solid #fff;
}
a.videoLinkNew img:hover, 
a.videoLinkNew img:active {
	margin-right: 25px;
	border:1px solid #bd5a03;
}
a.moreInfo,
a.moreInfo:visited {
	background:transparent url(../images/elements/infoIcon.png) no-repeat 0px 0px;	
}
a.moreInfo:hover, 
a.moreInfo:active {
	background-position: 0px -59px;
}

.overlayLogo{
	position:absolute;
	right:20px;
	bottom:15px;
}

/* -----------Video Players----------------------------------------------- */
#castvideoPlayerDIV, #episodevideoPlayerDIV {
	background:black;
	position:absolute;
	width: 960px;
	margin:auto;
	z-index:500;
	left:50%;
	margin-left:-480px;
}

#castvideoPlayerDIV p{
	text-align: center;
}

#castvideoPlayerDIV, #episodevideoPlayerDIV{
	display:none;
}

.headerVideo {
	background:black;
	display:none;
}

.frameVideo {
	width:397px;
	margin:0 auto;
}

#closeVideo {
}

.castVideo {
	position:relative;
}


/* -----------Content area ---------------------------------------------- */

#contentContainer {
	width: 960px;
	margin: 0 auto 0 auto;
	background-color: #FFF;
	padding: 20px 0 0;
}

.socialButtonContainer {
	width: 150px;	
}

#facebookFeed h2, .twitter-title h2 {
	font-size: 16px;
}

/* ------------Scoop and Videos------------------------------------------- */
#StarzVideoPlayer {
	width: 623px;
	height: 350px;
	position:absolute;
	left:50%;
	margin-left: -312px;
}

/* ______Scoop_______  */
#scoopImage {margin: 20px 0 0 30px;}
#scoopText {margin: 15px 0 0 10px;}
#scoopText p {
	font-size: 14px;
	margin: 10px 0 0 0;
	line-height: 1.3;
	width: 270px;
	
	color:#424242;
}
#scoopText a {
	display: inline-block;
	font-size: 12px;
	text-decoration: underline;
	font-weight: bold;
	padding: 6px 0 0 0;
	
	color:#424242;
}

/* ---------- Talk to Starz---------------------------------------- */
#talkToStarz {
	width: 280px;
	margin-top: 20px;
}
#talkToStarz p,
#talkToStarz ul {
	font-size: 12px;
	line-height: 1.4;
	margin: 0px 0px 5px 0px;
} 
#talkToStarz ul {
	padding-left: 25px;
}
#talkToStarz ul li {
	color: #4D4D4D;
} 
.askStarzButton{
	color: #FFF;
	line-height: 40px;
	text-decoration: none;
	display:block;
	width:300px;
	height:40px;
	text-align: center;
	background: transparent url(../images/elements/mailButton.png) 0px 0px no-repeat;
}

.askStarzButton:hover{
	color: #FFF;
	text-decoration: underline;
	background: transparent url(../images/elements/mailButton.png) 0px -45px no-repeat;
}

a#surveyButton {
	display: block;
	margin: 0 auto;
	width: 292px;
	height:56px;
	color: #FFF;
	font-size: 18px;
	text-transform: capitalize;
	background: transparent url(../images/elements/voteButton.png) center center no-repeat;
	line-height:56px;
}

/* -----------Sweepstakes---------------------------------------- */
#headline {
	height:auto;
	margin-top: -20px;
	margin-bottom: 30px;
	padding-top: 8px;
}

#winmarquee {
	width: 960px;
	overflow: hidden;
	margin: 0px auto 0 auto;
}

.entertowinbg{
	background:#18222b no-repeat center top;
	width:960px;
	color:white;
	height:408px;
}

.prizes {
	width:434px;
	margin:auto;
	overflow: hidden;
	padding-bottom: 20px;
	padding-top: 10px;
}

.entertowinbg a {
	display: block;
	width:960px;
	height:408px;
}

.quiz{
	padding-top: 10px;
	padding-bottom:20px;
}

.quiz h4 {
	text-align: center;
	font-weight: 300;
	padding-bottom: 10px;
	font-size:18px;
}

.blue {
	color: #0f789e;
	line-height: 20px;
}

.winheadline{
	color:#0f789e;
}

.questioncontainer{
	margin-bottom: 20px;
}

.question {
	width:280px;
	float: left;
	margin: 0 20px 0 20px;
}

.questiontext {
	text-align: center;
	margin-bottom: 10px;
	line-height:20px;
}

.answers {
	font-size: 12px;
	color:#666;
	margin: auto;
	float:left;
}

.answers input{
	margin-right: 10px;
}

.watchtrailer{
	text-align: center;
	margin-bottom: 30px;
}

.incorrect{
	text-align: left;
	color:red;
	float:left;
	padding-top: 5px;
	display: none;
}

.submitBtn a{
	width:168px;
	height:41px;
	background: url(../images/instantWin/clicktoenter.gif) no-repeat center center;
	margin: 0 auto 0 auto;
	display: block;
}

#visaSweep {
	padding-top: 30px;
	text-align: center;
}

/*Instant Win*/
#instantWin {
	display: block;
	width:920px;
	height:auto;
	margin: 0px auto 50px;
	padding: 0;
	background: white;
	overflow: hidden;
	text-align: center;
}
#btn_instantWin {
	display: block;
	width: 600px;
	margin: 15px auto 0px;
}

/*Visa Sweeps */
#visaSweep {
	width:920px;
	margin: 0px auto 5px;
	background: white;
	overflow: hidden;
}

/*Winners*/
#toggleWinners h2 {padding-left: 20px; cursor: pointer;}
#toggleWinners h2.closed {
	background: transparent url(../images/elements/collapse_btn_arrow.png) 2px 9px no-repeat;
}
#toggleWinners h2.expanded {
	background: transparent url(../images/elements/expand_btn_arrow.png) 0px 11px no-repeat;
}

.winnerDetails {
	width:240px;
	float:left;	
	text-align:center;
}

.winnerDetails h4{
	text-transform:uppercase;
}

/*iFrames */
iframe header{
	display: none!important;
	visibility: hidden!important;
}
.survey-page-header, .page-title-container, .exit-button-container, .exit-survey {
	display: none!important;
	visibility: hidden!important;
}
#sweepsFrame {
	border: none;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #FFF;
}
.sweepstakesFrame {
	width: 960px;
	height: 750px;
	margin: 10px auto 0px;
	background-color: #FFF;
}
.closeBtn {
	display: block;
	height: auto;
	position: relative;
	float: right;
	clear: both;
	right: 3px;
	top: 3px;
	padding-bottom: 3px;
	z-index: 5;
}
/* -----------Sales Page/PDFs---------------------------------------- */
.pdfContainer, .videoContainer{
	width: 410px;
	margin: 0 auto;
}
.pdfLink, .videolinksales {
	display: block;
	width: 165px;
	float:left;
	margin: 25px 20px 0 10px;
}
.pdfLink.firstItem {
	margin-left: 55px;
}
.pdfLink p, .videolinksales p {
	margin: 3px 0 0px 1px;
	line-height: 1.2em;
	font-weight: bold;
	color:inherit;
	text-decoration: none;
}
.videolinksales p{
	margin-bottom: 5px;
}

.pdfLink a, .videolinksales {
	font-size: 12px !important;
	text-decoration: none;
	font-weight: normal;
}
.pdfLink a:hover, .videolinksales a:hover{
	text-decoration: underline;
}

.pdfLink p.dload{
	font-size:14px;
	color: #000;
	font-weight: bold;
	margin-bottom:4px;
}

.pdfLink small {
	font-size: 11px;
	color: #BD5A03;
	font-weight: bold;
}

.videolinksales small {
	font-size: 11px;
	color: #BD5A03;
	font-weight: bold;
	padding-top: 50px;
}

.pdfLink > a > img {
	border: 1px solid #999999;
}
.pdfLink a:hover img {
	border: 1px solid #BD5A03;
}

/*.videolinksales > img {
	border: 1px solid #999999;
}
.videolinksales:hover img {
	border: 1px solid #BD5A03;
}*/

/* -----------ACTIVITIES---------------------------------------- */

.closePageBtn{
	display:block;
	width:25px;
	height:25px;
	position:absolute;
	background:url(../images/close25.gif) no-repeat;	
	top:20px;
	right:20px;
}

/* Footer ----------------------------------------------------------------------------- */

#page_footer {
	margin-top: 30px;
	padding-bottom: 5px;
	text-align: center;
}

#page_footer > p {
	font-size: 11px;
	line-height: 1.4em;
}
#page_footer a{
	text-decoration: underline;
}
.disclaimer {
	color:#999999 !important;	
	font-size:8px !important;
}

/* Layout sizing ----------------------------------------------------------------------------- */

.bodyContent {
	width:960px;
}

.width75 {
	width: 75%;
}

.width66 {
	width: 640px;
}

.width50 {
	width: 50%;
}

.width33 {
	width: 320px;
}
.width45 {
	width: 45%;
}
.width40 {
	width: 40%;
}
.width30 {
	width: 30%;
}

.width25 {
	width: 25%;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.clear {
	clear: both;
}

/* Text formatting ----------------------------------------------------------------------------- */

h1 {
	font-size:24px;
	color: #717171;
	line-height: 1.3;
	margin: 10px 20px 0 20px;
	font-weight:200;
}

h2 {
	color: #FFF; 
	font-size: 18px;
	font-weight: Normal;
	width: auto;
	margin: 0;
	padding: 3px;
}
h3 {
	color: #4D4D4D; 
	font-size:16px;
	font-weight: bold;
	width: auto;
	height: 28px;
	line-height: 28px;
	margin: 0px;
}
h4 {
	color: #4D4D4D; 
	font-size:16px;
	font-weight: bold;
	line-height: 1.4em;
	margin: 0px 20px;
}
h5 {
	color: #4D4D4D; 
	font-size: 13px;
	font-weight: bold;
	line-height: 1.5;
	margin:0px;
}
h6 {
	font-size:24px;
	color: #ECECEC;
	line-height: 1.3;
	margin: 10px 20px 0px;
	font-weight:100;
	text-align: center;
	font-family: "Times New Roman", Georgia, Times, serif;
}
p {
	font-size: 14px;
	color: #4D4D4D;
	line-height: 1.4em;
	margin: 0 20px 10px 20px;
}

p:last-child {
	margin-bottom: 20px;
}

a {
	color: #4D4D4D;
	text-decoration: none;
}

a:hover {
	color: #BD5A03;
}

sup {
	font-size: 8px;
	line-height: 1; 
	vertical-align: text-top; 
}
.font14px {
	font-size: 14px;
}

.font12px {
	font-size: 12px;
}

.font10px {
	font-size: 10px;
}

.orange {
	color: #BD5A03;
}

.dark {
	color: #4D4D4D;
}

.white {
	color: #FFF;
}
.black {
	color: #000;
}
.center {
	text-align: center;
}

/* LEARNING LOUNGE -------------------------------------------------------------------- */
.affiliates {
	margin-top: 15px;
	margin-left: 5px;
}

.affiliate{
	width:185px;
	height:100px;
	border: 1px solid transparent;
	display: block;
	margin: auto;
	background: no-repeat center center;
	
}

/*.affiliate:hover, .selectedaff{
	border: 1px solid rgba(0,0,0,.3);
}



.affiliate:first-child{
	margin-left: 0px;
}*/

#login{
	background: url(../images/elements/overlay.png);
	position: fixed; 
	top: 0px; 
	right: 0px; 
	bottom: 0px; 
	left: 0px;
	z-index: 1500;
	display: none;
}

.login-content{
	position: fixed;
	width:575px;
	height:233px;
	background: url(../images/sales/password.png) no-repeat;
	left:50%;
	top:50%;
	z-index: 1501;
	margin-top: -117px;
	margin-left: -263px;
	display: none;
}

.login-incorrect{
	position: fixed;
	width:575px;
	height:233px;
	background: url(../images/sales/incorrect.png) no-repeat;
	left:50%;
	top:50%;
	z-index: 1501;
	margin-top: -117px;
	margin-left: -263px;
	display: none;
}

.login-password{
	width: 255px;
	height:28px;
	background: transparent;
	border: none;
	position: absolute;
	top:96px;
	left:200px;
	color:white;
	font-size: 16px;
	outline: none;
}

.login-submit{
	display: block;
	width:89px;
	height:35px;
	background: url(../images/elements/submitbtn.png) no-repeat;
	position: absolute;
	top:150px;
	left:50%;
	margin-left: -45px;
}

.login-end{
	display: block;
	width:89px;
	height:35px;
	background: url(../images/elements/close-button.png) no-repeat;
	position: absolute;
	top:150px;
	left:50%;
	margin-left: -45px;
}

.login-close{
	display: block;
	width:28px;
	height:28px;
	background: url(../images/elements/closebtn.png) no-repeat;
	position: absolute;
	top:5px;
	right:7px;
}

/* Images ----------------------------------------------------------------------------- */

img {
	border: 0;
}
img.darkBorder {
	border: 1px solid #4D4D4D;
}
img.lightBorder {
	border: 1px solid #999999;
}
/* misc ----------------------------------------------------------------------------- */
.headerSmall {
	width: 300px;
	height: 28px; 
	padding-left: 10px;
	background: transparent url(../images/elements/header-small.png) no-repeat left top;
}
.headerHalf {
	width: 450px;
	height: 28px; 
	padding-left: 10px;
	background: transparent url(../images/elements/header-half.png) no-repeat left top;
}
.headerMedium {
	width: 610px;
	height: 28px; 
	padding-left: 10px;
	background: transparent url(../images/elements/header-medium.png) no-repeat left top;
}
.headerLarge {
	width: 920px;
	height: 44px;
	padding-left: 10px;
	background: transparent url(../images/elements/header-large.png) no-repeat left top;
}

.topMargin {
	margin-top: 10px;
}
.leftMargin {
	margin-left: 20px;
}
.rightMargin {
	margin-right: 20px;
}
.noSideMargin {
	margin-left: 0px;
	margin-right: 0px;
}
.leftPadding {
	padding-left: 10px;
}
.rightPadding {
	padding-left: 10px;
}


/* photohunt ----------------------------------------------------------------------------- */

.photohunt{
	width: 802px;
	height:600px;
	margin: 30px auto 0 auto;
	overflow: hidden;
	position: relative;
}

.photohuntpic{
	width:400px;
	height:600px;
	float:left;
	position: relative;
}

.photo1{
	margin-right: 2px;
	background: url(../images/piratize/powerphotoone.jpg)
}

.photo2{
	background: url(../images/piratize/powerphototwo.jpg)
}

.phitem{
	position: absolute;
	top:0px;
	left:0px;
	z-index: 1;
}

.winner{
	position: absolute;
	left:50%;
	margin-left: -270px;
	width:541px;
	height:232px;
	background: url(../images/piratize/winnerpopup.png) no-repeat;
	z-index: 5;
	top:150px;
	display: none;
}

.winnercopy{
	width:400px;
	text-align: center;
	color:white;
	margin: 80px auto 0 auto;
}

/* Movie Marquee ----------------------------------------------------------------------------- */

.movielist{
	position: absolute;
	width:650px;
	top:50px;
	left:343px;
}

.movie-item{
	width:151px;
	float:left;
	margin-right: 2px;
}

.movie-image{
	width:151px;
	height:209px;
	display: block;
	border:2px solid transparent;
	background-repeat: no-repeat;
}

.movie-image:hover{
	border:2px solid #bd5a02;
}

.movie-date{
	text-align: center;
	font-size: 13px;
	color:#aaa;
	margin-top: 2px;
}

.playbtns{
	position: absolute;
	top:250px;
	left:50px;
}

.playbtns a{
	display:block;
	width:125px;
	height:34px;
	float:left;
	margin-right: 15px;
}

/* Apothecary */

.apothecaryBtn{
	width:880px;
	height:850px;
	background:url(../images/apothecary.jpg) no-repeat;
	position:absolute;
	top:0;left:0;
	z-index:1000;
}

#apothecary{
	position:absolute;
	left:0;
	top:850px;
	z-index:2000;
}

#apothecary:target{

}

/* Treasure Hunt FOR IE----------------------------------------------------------------------------- */

a.firstclue:link, a.firstclue:visited{
	color:#565656;
}

a.firstclue:hover, a.firstclue:visited:hover{
	color:#876900;
}

a.secondclue:link, a.secondclue:visited{
	color:#eddc7c !important;
	text-transform: uppercase;

}

a.secondclue:hover{
	color:#ae0025 !important;
}

a.thirdclue{
	width:160px;
	height:170px;
	position: absolute;
	right:250px;
	bottom:30px;
}


#treasurehunt{
	display:none;
	width:800px;
	text-align:center;
	z-index:1500;
	position:fixed;
	top:140px;
	left:50%;
	margin-left:-400px;
	color:#805107;
	
	font-family:"Times New Roman", serif;
	
	/*
	border:1px solid #9e8d6c;
	background-color:#291b19;
	color:#fff;
	*/	
}

.thcontent{
	background-image: url("../images/treasurehunt/outlander1b_frame.png");
	background-position: top left;
	background-repeat: no-repeat;
}

.leftth p{
	text-align:left;
}

.rightth{
	margin:0 40px 5px 30px;
	float:right;
}

#treasurehunt img.close{
	position:absolute;
	top:-5px;
	right:-5px;
	-webkit-border-radius: 100px 100px 100px 100px;
	border-radius: 100px 100px 100px 100px;
}

#treasurehunt img.logo{
	margin-top:20px;
}

#treasurehunt hr, #treasurehunttips hr{
	margin-top:10px;
	margin-bottom:10px;
	width:75%;
	border:none;
	border-bottom:1px solid #cdcdcd;
}

#treasurehunt h2{
	font-weight:100;
	font-size:1.6em;
	letter-spacing:0.15em;
	text-transform: uppercase;
	text-align: center;
	padding-bottom:16px;
	color:#805107;
	
	padding:0 40px 0 40px;
}

#treasurehunt h2.headlineleft{
	 text-align:left;
}

#treasurehunt p, #treasurehunttips p{
	padding:0 20px 0 20px;
	color:#805107;
	/*
	text-shadow: 1px 1px 0 #000;
	margin:0 40px 20px 40px;
	*/
}

#treasurehunttips p{
	color:#fff;
	text-align:center;
	margin:0;
	margin-bottom:8px;
	padding:8px 12px 8px 12px;
}

.thbtn{
	display:none;
}

#treasurehunt p em{
	font-size:1.4em;
}

#treasurehunt p.clue{
	width:700px;
	margin:0 auto;
	color:#fff;
	clear:both;
	text-align:center;
	padding:10px;
	background-color:#9e7213;
}

#treasurehunt p.clue strong{
	font-size:1.1em;
	letter-spacing:0.05em;
	text-transform:uppercase;
	font-weight:100;
}

#treasurehunt p.plain{
	text-align:center;
	color:#805107;
	/*
	color:#fff;
	*/
	padding:0;
	margin:0 40px 20px 40px;
}

#treasurehunt .answers{
	margin-left:20px;
	color:#fff;
	font-size:0.8em;
}

#treasurehunt .answers label{
	text-align: left;
	float:left;
}

#treasurehunt div.therror{
	color:#bf4040;
	font-size:0.8em;
	text-align: center;
	margin-top:20px;
	margin-left:-5px;
	float:left;
	display:none;
}

.submitth{
	font-size:1em;
	color:#fff;
	text-transform:uppercase;
	text-align:center;
	clear:both;
	width:100%;
	padding:20px;
	background-color:#9e7213;	

	border:none;
}

#emodule{
	width:768px;
	height:250px;
	background:url('../images/instantWin/Jan_2015_Emodule.jpg') no-repeat;
}

#emodule p{
	text-transform: uppercase;
	text-align: center;
	font-size:1.1em;
	line-height:1.3em;
	position:absolute;
	z-index:1500;
	top:110px;
	left:90px;
	width: 300px;
	color: #000;
}

#emodule p a:link, #emodule p a:visited{
	color:#000;
	border-bottom:1px dotted #747474;
}

#emodule p a:hover{
	border-bottom:2px solid #000;
}

#btn_tv{
	position:absolute;
	top:30px;
	left:0;
	z-index:1000;
	float:left;
	width:960px;
	height:250px;
}

#treasurehunttips{
	width:110px;
	padding:10px 10px 2px 10px;
	position:fixed;
	top:200px;
	left:0;
	/*z-index:200;*/
	background-color:#fbfbfa;
	border:1px solid #c1b39f;
	border-left:none;
	
	/*
	background-color:#291b19;
	border:1px solid #9e8d6c;
	border-left:none;
	*/
}

#treasurehunttips p{
	background-color:#9e7213;
}

#treasurehunttips .header{
	margin-bottom:5px;
}

#videoth, #StarzVideoPlayerPopup{
	width:420px;
	height:260px;
}

.thpopup4 label{
	margin-left:35px !important;
}

#prevWinners{
	padding:0;
	width:100%;
	clear:both;
	text-align:center;
	margin-bottom:16px;
	font-style: italic;
}
#prevWinners a, #prevWinners a:visited, #prevWinners a:link{
	color:#000 !important;
}
#prevWinners a, #prevWinners a:visited, #prevWinners a:link{
	color:#4d3f30 !important;
}