@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'Helvetica Neue Condensed';
	src: url("fonts/cond/HelveticaNeueLTStd-Cn.eot");
	src: url("fonts/cond/HelveticaNeueLTStd-Cn.eot?#iefix") format('embedded-opentype'), url("fonts/cond/HelveticaNeueLTStd-Cn.woff") format('woff'), url("fonts/cond/HelveticaNeueLTStd-Cn.otf") format('opentype'), url("fonts/cond/HelveticaNeueLTStd-Cn.svg") format('svg');
}
@font-face {
	font-family: 'Helvetica Neue Bold Condensed';
	src: url("fonts/cond/HelveticaNeueLTStd-BdCn.eot");
	src: url("fonts/cond/HelveticaNeueLTStd-BdCn.eot?#iefix") format('embedded-opentype'), url("fonts/cond/HelveticaNeueLTStd-BdCn.woff") format('woff'), url("fonts/cond/HelveticaNeueLTStd-BdCn.otf") format('opentype'), url("fonts/cond/HelveticaNeueLTStd-BdCn.svg") format('svg');
}
@font-face {
	font-family: 'Helvetica Neue Thin Condensed';
	src: url("fonts/cond/HelveticaNeueLTStd-ThCn.eot");
	src: url("fonts/cond/HelveticaNeueLTStd-ThCn.eot?#iefix") format('embedded-opentype'), url("fonts/cond/HelveticaNeueLTStd-ThCn.woff") format('woff'), url("fonts/cond/HelveticaNeueLTStd-ThCn.otf") format('opentype'), url("fonts/cond/HelveticaNeueLTStd-ThCn.svg") format('svg');
}

body,td,th {
	font-size: 12px;
	color: #FFFFFF;
	font-family: 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
}
body {
	background-color: #000000;
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#header {
	height: 80px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}
#carousel {
	height: 220px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: absolute;
}
#carousel-items {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 10px 0 0 0;
}
#carousel-vignette-left {
	width: 60px;
	height: 206px;
	background-image: url(images/carouselVignetteLeft.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	z-index: 10;
}
#carousel-vignette-right {
	width: 60px;
	height: 206px;
	background-image: url(images/carouselVignetteRight.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 0px;
	z-index: 10;
}
.arrow-left {
	position: absolute;
	top: 84px;
	left: 20px;
	cursor: pointer;
}
.arrow-right {
	position: absolute;
	top: 84px;
	right: 20px;
	cursor: pointer;
}
.carousel-item {
	background-color: #32566d;
	background-repeat: no-repeat;
	background-position: center;
	border: 0px;
	width: 316px;
	height: 180px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	float: left;
	top: 13px;
	opacity: 0.4;
}
.carousel-item:hover {
	cursor: pointer;
}
.js-currentMovie {
	width: 350px;
}
.carousel-item.js-currentMovie {
	border: 3px solid #bd5a02;
	width: 350px;
	height: 200px;
	top: 0px;
	opacity: 1;
	-webkit-transition: height 0.8s, top 0.8s, width 0.8s, opacity 1s, border 0.8s;
	-moz-transition: height 0.8s, top 0.8s, width 0.8s, opacity 1s, border 0.8s;
	transition: height 0.8s, top 0.8s, width 0.8s, opacity 1s, border 0.8s;
}
.carousel-shade {
	z-index: 4;
	width: 100%;
	height: 100%;
	background-image: url(images/carouselShade.png);
	background-repeat: repeat-x;
	background-position: 0% 100%;
}
.carousel-date {
	color: #FFFFFF;
	font-size: 11pt;
	font-family: 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	bottom: 24px;
	left: 10px;
	position: absolute;
	z-index: 5;
}
.carousel-title {
	color: #FFFFFF;
	font-size: 15pt;
	font-family: 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	bottom: 4px;
	left: 10px;
	position: absolute;
	z-index: 5;
}
.detail {
	width: 100%;
	height: 420px;
	position: absolute;
	top: 362px;
	background-image: url(images/bar.png);
}
.detail-background {
	background-image: url(images/gallery_calling_1.jpg);
	background-size: cover;
	opacity: 0.15;
	width: 100%;
	height: 100%;
	background-position: center center;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
.detail-content {
	width: 1026px;
	height: 420px;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	margin: auto;
}
.detail-text {
	width: 365px;
	height: 420px;
	float: left;
	text-align: right;
	padding-right: 30px;
}
.detail-text .date {
	color: #BC5A17;
	font-size: 34pt;
	font-family: 'Helvetica Neue Thin Condensed', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin: 30px 0 6px 0;
}
.detail-text .time {
	color: #BC5A17;
	font-size: 34pt;
	font-family: 'Helvetica Neue Thin Condensed', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	line-height: 34px;
}
.detail-text .time .timezone {
	font-size: 16pt;
	line-height: 17px;
	display: block;
	float: right;
	position: relative;
	top: -4px;
}
.detail-text .title {
	color: #FFFFFF;
	font-size: 44pt;
	font-family: 'Helvetica Neue Bold Condensed', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin-top: 30px;
	line-height: 48px;
}
.detail-text .buttons {
	margin-top: 40px;
}
.detail-text .buttons a img {
	margin-top: 10px;
	margin-bottom: 0px;
}
.detail {
	visibility: hidden;
	opacity: 0;
}
.detail.js-currentDetail {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}
.gallery {
	background-color: black;
	width: 630px;
	height: 420px;
	float: left;
	overflow: hidden;
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.gallery li {
	opacity: 0;
	z-index: 0;
	transition: opacity 1s ease-in-out;
}
.gallery li.js-gallery-active {
	opacity: 1;
	z-index: 1;
	transition: opacity 1s ease-in-out;
}
@media screen and (max-width: 1030px) {
	.detail-content {
		max-width: 100%;
		height: auto;
		min-height: 420px;
	}
	.gallery {
		max-width: 60%;
	}
	.gallery img {
		max-width: 100%;
		height: auto!important;
	}
	.detail-text {
		max-width: 35%;
		width: 35%;
		height: auto;
		padding-right: 5%;
	}
}
@media screen and (max-width: 750px) {
	.gallery {
		display: none;
	}
	#carousel {
		display: none;
	}
	.carousel-item {
		opacity: 1;
		list-style-type: none;
	}
	.detail {
		visibility: visible;
		opacity: 1;
		position: relative;
		top: initial;
	}
	.detail-content {
		left: 50%;
	}
	.detail-background {
		background-image: none;
	}
	.detail-text {
		text-align: left;
	}
	.detail .date, .detail .time {
		font-size: 36px;
		line-height: 28px;
	}
	.detail-text .time .timezone {
		font-size: 18px;
		line-height: 15px;
		top: initial;
		float: none;
		display: inline-block;
		left: -5px;
	}
}