<div class="row clearfix">

	{{#shows}}
	<div class="col-md-4 item">
			<a href="#/{{safe_name}}" class="homeitem" path="{{safe_name}}">
				<img src="{{thumbnail}}" />
				<p class="button">See All Episodes</p>
			</a><br><br>

			<div class="guild-info">
				<p>{{{category}}}</p>
				<p>{{{episode}}}</p>
				<p>{{{people}}}</p>
				<p>{{{extended}}}</p>
			</div>
            <!-- <a href="#/{{safe_name}}" class="homeitem" path="{{safe_name}}">
            	<img src="{{nominations}}" />
            </a> -->
		</div>
	{{/shows}}
</div>
